// === variables ===
$brand-color: #6e9c9f;
$gradient-brand-color: rgba(110, 156, 159, .68);
$background-header-color: #F1EADC;
$button-color: rgb(241, 246, 246);
$price_color: rgb(153, 142, 120);
$old_price_color: rgb(156, 156, 156);
$footer-color: #f1eadc;
// === / variables ===
// === imports ===
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
// === / imports ===
// === mxixins ===
@mixin Raleway-Regular {    
    font-family:"Raleway", sans-serif;
    font-weight: 400;
}

@mixin Raleway-Medium {    
    font-family:"Raleway", sans-serif;
    font-weight: 500;

}
@mixin Raleway-Bold {    
    font-family:"Raleway", sans-serif;
    font-weight: 700;
}
// === / mxixins ===
// === new collection ===
.new-collection {
    display: flex;
    justify-content: center;

    &__button {
        width: 243px;
        height: 68px;
        transition: .5s;
        animation: ease;
        border: 1px solid $brand-color;
        font-size: 17px;
        background-color: #fff;
        color: $brand-color;

        &:hover {
            cursor: pointer;
            border: none;
            background-color: $brand-color;
            color: #fff;
        }
    }
}

.container_collection {
    display: grid;
}

.title_collection {
    margin: 0 0 92px;
}

.collection {
    display: flex;
    
    &_img {
        width: 350px;
        height: 478px;
        transition: .5s;
        margin: 0;
        
        &_1 {
            background-image: url(../imports/img/image-1.png);
        }
        
        &_2 {
            background-image: url(../imports/img/image-5.png);
        }
        
        &_3 {
            background-image: url(../imports/img/image-6.png);
        }

        &-overlay {
            transition: .5s;
            animation: ease;
        }
    }
    
    &__product {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.product {

    &__name {
        @include Raleway-Medium();

        margin-top: 24px;
        font-size: 20px;
    }
    
    &__price {
        @include Raleway-Medium();

        color: $price_color;
        font-size: 15px;

        &_old {
            color: $old_price_color;
            margin-right: 10px;
            text-decoration: line-through;
        }
    }
}

.prices {
    display: flex;
}
// === / new collection ===
// === important ===
.important {
    display: flex;
    justify-content: center;
    margin: 130px 0 0;
}

.title_important {
    margin: 0 0 91px;
}

.subtitle_important {
    margin: 36px 0 24px;

    &:first-child {
        margin-top: 37px;
    }
    
    &:last-child {
        margin-top: 40px;
    }
}

.parametrs {
    display: flex;
    justify-content: space-between;
}

.parametr {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__img {
        align-self: start;
    }

    &__description {
        @include Raleway-Medium();

        font-size: 17px;
    }

    &:not(:last-child) {
        margin-right: 75px;
    }
}
// === / important ===
// === dream team ===
.dream-team {
    display: flex;
    justify-content: center;
    margin: 130px 0 0;

    &__content {
        display: flex;
    }
}

.container_dream-team {
    max-width: 1204px;
}

.title_dream-team {
    margin: 0 0 92px 47px;
}

.subtitle_dream-team {
    margin: 78px 0 0;
}

.description_dream-team {
    margin: 0 0 0 65px;
}

.slider {
    display: flex;
}

.slide {
    width: 729px;
    height: 487.42px;
    display: flex;
    background-image: url("../imports/img/image-9.png");

    &__button {
        cursor: pointer;

        &_left {
            margin: 0 33px 0 0;
        }

        &_right {
            margin: 0 0 0 31px;
        }
    }
}

.condition_slide {
    margin: 422px 0 0 308px;
}

.link_dream-team {
    color: $brand-color;

    &:hover {
        text-decoration: underline;
    }
}
// === / dream team ===